<!DOCTYPE html>
<html>
    <head>
        <title>Blog page test</title>
    </head>
    <body>
        <header>
            <h1>This is a page title for the following blog posts</h1>
        </header>
        <main>
            <article>
                <header>
                    <h2><a href="">1. Latin gibberish</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec justo quis lorem auctor vulputate. Nunc mattis porttitor efficitur. Duis et semper augue, vitae interdum orci. Cras eget mi malesuada, mollis magna sit amet, mattis mi. Donec suscipit auctor metus blandit ultricies. Phasellus quis eros justo. Morbi eget dapibus velit.
                        Nullam dapibus tortor quis ligula commodo, sed ultricies sapien lobortis. Fusce at mauris viverra, finibus felis non, pharetra velit. Duis nec tortor facilisis, ullamcorper ex quis, tincidunt sapien. Maecenas neque est, consequat quis libero in, dictum tincidunt urna. Suspendisse imperdiet nunc bibendum ex efficitur, sed ullamcorper lectus luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus tellus. Maecenas quis justo et enim dignissim fermentum. Quisque pulvinar ornare tempus. Fusce ac risus justo.
                        </p>
                </header>
            </article>
            <article>
                <header>
                    <h2><a href="">1. More random latin text</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec justo quis lorem auctor vulputate. Nunc mattis porttitor efficitur. Duis et semper augue, vitae interdum orci. Cras eget mi malesuada, mollis magna sit amet, mattis mi. Donec suscipit auctor metus blandit ultricies. Phasellus quis eros justo. Morbi eget dapibus velit.
                        Nullam dapibus tortor quis ligula commodo, sed ultricies sapien lobortis. Fusce at mauris viverra, finibus felis non, pharetra velit. Duis nec tortor facilisis, ullamcorper ex quis, tincidunt sapien. Maecenas neque est, consequat quis libero in, dictum tincidunt urna. Suspendisse imperdiet nunc bibendum ex efficitur, sed ullamcorper lectus luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus tellus. Maecenas quis justo et enim dignissim fermentum. Quisque pulvinar ornare tempus. Fusce ac risus justo.
                        </p>
                </header>
            </article>
            {% for post in posts %}
                <article>
                    <time>published: {{ post.published_date }}</time>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
            {% endfor %}

        </main>

    </body>
</html>